 /*Table CSS*/
    .table .thead-green th {
      color: white;
      background-color:#026670; 
    }
    .table .tbody-green td {
      color: #026670;
      border: none;
    }
    .table td{
      vertical-align: middle;
    }
    /*fixed trashcan icon color*/
    .fa-trash-o{
      color:red;
    }
    /*hyperlink CSS*/
    .alink{
      color:#026670;
    }
    .alink:hover{
      color: #FCE181;
      text-decoration: none;
    }
    /*header css*/
    .h2bold{
      margin-top:2%; 
      font-weight:bold;
    }
    /**************END************/