/*Custom bootstrap btn*/
    .btn-previous,
    .btn-previous:active,
    .btn-previous:visited,
    .btn-previous:focus {
        background-color: #FEF9C7;
        border-color: #FEF9C7;
        border-radius: 20px;
    }

    .btn-previous:hover{
        background-color: #FCE181;
    }

    .btn-next,
    .btn-next:active,
    .btn-next:visited,
    .btn-next:focus {
        background-color: #FEF9C7;
        border-color: #FEF9C7;
        border-radius: 20px;
    }

    .btn-next:hover{
        background-color: #FCE181;
    }

    .btn-dark-blue,
    .btn-dark-blue:active,
    .btn-dark-blue:visited,
    .btn-dark-blue:focus {
        background-color: cornflowerblue;
        border-color: cornflowerblue;
        width: 100%;
    }

    .btn-blue,
    .btn-blue:active,
    .btn-blue:visited,
    .btn-blue:focus {
        background-color: skyblue;
        border-color: skyblue;
        width: 100%;
    }

  /* ANOTHER STYLE */

body {
  background-color: #EDEAE5;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  padding-bottom: 2em;
  margin-top: 2em;
}

.card-img-top {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}

.title {
  color: grey;
  font-size: 18px;
}

.table{
    background-color: #026670;
}

.table-font th{
    color: white;
}
.table-font td{
    color: white;
}

.centering {
    margin: auto;
    max-width: 30%;
}
