
/******-----LOGIN CSS PART-----*****DEV*/
.bg{
	background-image: url("../img/background2.jpg");
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	position: relative;
}

@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand-Regular.ttf') format('woff');/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
} 

#title{
	font-family: Quicksand;
	font-weight: bold; 
	font-size: 48px; 
	text-align: center;
	color: white;
	padding-top: 5%;
	text-align: center;
	text-shadow: 2px 4px #000000;
}

#log{
	margin-top: 25px;
    padding: 40px 30px 20px 30px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.7;
}


#idNum{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 300px;
}

#pass{
	margin-bottom: 10px;
	width: 300px;
}

#forgotPass{
	font-family: 'Quicksand', sans-serif; 
	color:black;
	font-size:15px; 
}

#login{
	width: 300px;
	
}
/******-----LOGIN CSS PART-----*****DEV*/




/******-----NAVBAR CSS PART-----*****DEV*/


#home, #navbarDropdown{
    color:#026670;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FCE181 !important;
}

#search{
    color: #fff;
    background-color: #026670;
    border-color: #026670;
    
}

#searchcontainer{
	float: right;
}

#nav{
  background-color: #9fedd7;
}

/******-----NAVBAR CSS PART-----*****DEV*/







/******-----INVENTORY STUDENTS CSS PART-----*****DEV*/

#box{
	margin: 3em;
}

.bookSize{
	height: 150px;
	width: 100px;
}

.dataTables_filter{
	float: right !important;
}

.dataTables_paginate{
	float: right !important;
}


/******-----NAVBAR CSS PART-----*****DEV*/







/******-----EDIT INVENTORY ADMIN CSS PART-----*****DEV*/

.btn-edit
{
    color:rgb(0, 0, 0);
    background-color:#9FEDD7;
    border-color:#9FEDD7;
}
.btn-delete
{
    color:rgb(0, 0, 0);
    background-color:#FCE181;
    border-color:#FCE181;
}
/******-----EDIT INVENTORY ADMIN CSS PART-----*****DEV*/




/******-----INVENTORY ADMIN CSS PART-----*****DEV*********TO BE REVIEWED PA*/
#libros{
	color: #fef9c7; 
}

#topbar{
	margin-top: 2%;
}

#search{
	float: right;
}
#s-bar{
	padding: 6px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}
#s-btn{
	width: 20%;
	padding: 10px;
	background: #026670;
	color: #edeae5;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}
#sort{
	float: left;
	margin-right:8px;
	padding-bottom: 5px;

}
#sortby{
	float: right;
	display: inline-block;
}
#add, #drop{
	color: #026670;
	background: #edeae5;
	border: 1px solid #026670;
}
#book{
	width: 200px;
	height: 250px;
}
#pagination{
	text-align: center;
	color: #026670;
	background: #edeae5;
}
#aqua{
    color:#026670;
}

.btn-primary {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
}

/*#title{
	margin-top: 1%;
	font-size: 2em;
}

#prof{
	margin-top:15%;
}
*/
/****CART STYLES****/
  /*Table CSS*/
    .table .thead-green th {
      color: white;
      background-color:#026670; 
    }
    .table .tbody-green td {
      color: #026670;
      border: none;
    }
    .table td{
      vertical-align: middle;
    }
    /*fixed trashcan icon color*/
    .fa-trash-o{
      color:red;
    }
    /*hyperlink CSS*/
    .alink{
      color:#026670;
    }
    .alink:hover{
      color: #FCE181;
      text-decoration: none;
    }
    /*header css*/
    .h2bold{
      margin-top:2%; 
      font-weight:bold;
    }
    /**************END************/
